$nav-color: rgba(0,0,0,0.5);
$primary-color: #7f00b2;
$secondary-color: #000;
$letter-color1: #D401D6; //nav
$letter-color1-hover: #b9ffff; //nav
$color-txt: #b9ffff;
$letra1: 'Staatliches', 'cursive';
$letra2: 'Helvetica';
$mensajes: rgba(15, 0, 95, 0.6);
$scroll: rgba(0,0,0,0.9);
$scroll2: rgb(212,1,214);
$animation-color: rgba(15, 0, 95, 0.6);

body{
    font-family: $letra1;
    background-image: url('../images/paisaje-fondo.jpg');
    /*background-size: cover;*/
}

/*NAVBAR*/
.navbar{
    background-color: $nav-color;
    padding: 1%;
}

.navbar-brand{
    color: $letter-color1;
    font-size: 30px;
}

.navbar-brand:hover{
    color: $letter-color1-hover;
}

.nav-item{
    color: $primary-color;
    text-align: center;
}

.nav-link{
    color: $letter-color1 !important;
    font-size: larger;
}

.nav-link:hover{
    color: $letter-color1-hover !important;
}

/*Inicio-Principal*/

#principal{
    font-family: $letra2;
}

.animacion_princ{
    display: flex;
    width: 100%;
    height: 120px;
    color: $animation-color;
    font-size: 120px;
    line-height: 120px;
    font-family: $letra1;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
}

#palabra1_animacion{
    margin-left: 20%;
}

.ul_inicio{
    list-style: none;
    padding-left: 100px;
    animation-name: cambiar;
    animation-duration:  8s;
    animation-iteration-count:  infinite;
}

.li_inicio{
    margin: 0;
}

@keyframes cambiar{
    0%{ margin-top: 0 };
    20%{ margin-top: 0 };

    25%{ margin-top: -120px };
    50%{ margin-top: -120px };

    55%{ margin-top: -240px };
    80%{ margin-top: -240px };

    85%{ margin-top: -120px };
    95%{ margin-top: -120px };

    100%{ margin-top: 0 };
}

//mensajes
.titulos{
    color: $color-txt;
    text-align: center;
    font-family: $letra1;
}

.form_newmsj{
    color: $color-txt;
}

#nuevo_mensaje{
    display: none;
    margin-left: 33%;
    font-size: 30px;
}

#añadir_mensaje{
    background-color: $primary-color;
    color: $color-txt;
    border: none;
    padding: 2%;
    font-size: 20px;
    margin-right: 70%;
}

@media (max-width: 768px) {
    #nuevo_mensaje{
        display: none;
        margin-left: 0%;
        font-size: 30px;
    }

    .animacion_princ{
        display: none;
    }

    #grafica_todo{
        width: 350px !important;
        height: 350px !important;
    }
}

#añadir_mensaje:hover{
    background-color: $color-txt;
    color: $letter-color1;
}

#crear_mensaje{
    background-color: $primary-color;
    color: $color-txt;
    border: none;
    padding: 2%;
    font-size: 20px;
    margin-left: 17%;
}

#crear_mensaje:hover{
    background-color: $color-txt;
    color: $letter-color1;
}

#cerrar_anyadir_mensaje{
    background-color: $color-txt;
    color: $letter-color1;
    border: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#cerrar_anyadir_mensaje:hover{
    background-color: $letter-color1;
    color: $color-txt;
}

.input_msj{
    width: 400px;
    height: 150px;
    font-family: $letra2;
    font-size: small;
}

#input_msj_title{
    height: 40px;
}

.titulos_mensajes{
    background-color: #000;
}

//Cajas mensajes


/* Scroll Bar */
::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: $scroll;
}

*::-webkit-scrollbar-thumb {
    background-color: $scroll2;
    border-radius: 20px;
    border: 3px solid $scroll2;
}

/* Gráfica */
#grafica_todo{
    width: 550px;
    height: 550px;
}

/* Perfil */
#image_profile{
    width: 200px;
    border-radius: 320px;
}

.inputsPerfil{
    color: $color-txt;
}