$nav-color: #282828;
$primary-color: #7f00b2;
$secondary-color: #000;
$letra1: 'Helvetica Now';


//inicio
.navbar{
    background-color: $secondary-color;
}

.contenido{
    background-color: blue;
    background-repeat: no-repeat;
    width: 120%;
    height: 800px;
}

//mensajes
#nuevo_mensaje{
    display: none;

}

#cerrar_anyadir_mensaje{
    background-color: $primary-color;
    color: black;
  
}
#añadir_mensaje{
    background-color: $primary-color;
}

