$nav-color: rgba(0,0,0,0.5);
$primary-color: #7f00b2;
$secondary-color: #000;
$letter-color1: #D401D6; //nav
$letter-color1-hover: #b9ffff; //nav
$color-txt: #b9ffff;
$letra1: 'Staatliches', 'cursive';
$letra2: 'Helvetica';



body{
    font-family: $letra1;
    background-image: url('../images/paisaje-fondo.jpg');
    background-size: cover;
}

/*NAVBAR*/
.navbar{
    background-color: $nav-color;
    padding: 1%;
}

.navbar-brand{
    color: $letter-color1;
    font-size: 30px;
}

.navbar-brand:hover{
    color: $letter-color1-hover;
}

.nav-item{
    color: $primary-color;
    text-align: center;
}

.nav-link{
    color: $letter-color1 !important;
    font-size: larger;
}

.nav-link:hover{
    color: $letter-color1-hover !important;
}

/*Inicio-Principal*/

#principal{
    font-family: $letra2;
}

.animacion_princ{
    display: flex;
    width: 300px;
    height: 40px;
    color: $color-txt;
    font-size: 40px;
    line-height: 40px;
    font-family: $letra1;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
}

.ul_inicio{
    list-style: none;
    padding-left: 10px;
    animation-name: cambiar;
    animation-duration:  7s;
    animation-iteration-count:  infinite;
}

.li_inicio{
    margin: 0;
}

@keyframes cambiar{
    0%{ margin-top: 0 };
    20%{ margin-top: 0 };

    25%{ margin-top: -40px };
    50%{ margin-top: -40px };

    55%{ margin-top: -80px };
    80%{ margin-top: -80px };

    85%{ margin-top: -40px };
    95%{ margin-top: -40px };

    100%{ margin-top: 0 };
}

//mensajes
.titulos{
    color: $color-txt;
    text-align: center;
    font-family: $letra1;
}

.form_newmsj{
    color: $color-txt;
}

#nuevo_mensaje{
    display: none;
    margin-left: 33%;
    font-size: 30px;
}

#añadir_mensaje{
    background-color: $primary-color;
    color: $color-txt;
    border: none;
    padding: 2%;
    font-size: 20px;
}

#añadir_mensaje:hover{
    background-color: $color-txt;
    color: $letter-color1;
}

#crear_mensaje{
    background-color: $primary-color;
    color: $color-txt;
    border: none;
    padding: 2%;
    font-size: 20px;
    margin-left: 17%;
}

#crear_mensaje:hover{
    background-color: $color-txt;
    color: $letter-color1;
}

#cerrar_anyadir_mensaje{
    background-color: $color-txt;
    color: $letter-color1; 
    border: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#cerrar_anyadir_mensaje:hover{
    background-color: $letter-color1;
    color: $color-txt;
}

.input_msj{
    width: 400px;
    height: 150px;
    font-family: $letra2;
    font-size: small;
}

#input_msj_title{
    height: 40px;
}

/* Iniciar Sesion */
